<h1> New Product </h1>

<form action="/products" method="post">
    <div>
        <label>Name</label>
        <input name="products['name']" />
    </div>

    <div>
        <label>Brand</label>
        <input name="products['brand']" />
    </div>

    <div>    
        <label>Quantity</label>
        <input name="products['qty']" />
    </div>

    <div>
        <label>Category</label>
        <input name="products['category']" />
    </div>

    <div>
        <label>Price</label>
        <input name="products['price']" />
    </div>

    <input type = "submit" value="Create Prouct" />
</form>
